<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devie-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    <style>
        .inline-elements {
            display: inline-block;
        }
    </style>
</head>
<body>
    文件目录<br/>
    <p>当前文件夹: {{.CurDir}}<p>
    有以下内容:<br/>
    {{range $index, $element := .Urls}}
        <div>
            <form action="/delete" method="post" style="display: inline-block;">
                <input type="hidden" name="deletepath" value="{{index $.Path $index}}">
                <button>删除</button>
            </form>
            <a href="{{$element}}">{{index $.Filename $index}}</a>

        </div>
    {{end}}
    <h2>上传文件到该目录</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="submit" value="上传"> <br>
        <input type="hidden" name="saveDir" value="{{.CurDir}}">
    </form>

    <h2>创建文件夹</h2>
    <form action="/create" method="post">
        文件夹名字： <input type="text" name="dirName"><br>
        <input type="hidden" name="curDir" value="{{.CurDir}}">
        <input type="submit" value="创建"> <br>
    </form>
</body>
<html>